.reports-container {
  border: 1px solid black;
  border-radius: 5px;

  .label {
    font-weight: 600;
  }

  .button {
    width: 120px;
    height: 35px;
    border-radius: 5px;
    border: 0;
    &.approve {
      background-color: rgba(0, 128, 0, 0.6);
      color: white;
    }
    &.reject {
      background-color: rgba(255, 0, 0, 0.6);
      color: white;
      margin-left: 25px;
    }
  }
}
